.side-menu{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 350px;
    height: 1117px;
    background-color: #2df9af;
    z-index: 0;
}

.mid-menu{
    position: absolute;
    left: 360px;
    top: 0px;
    width: 530px;
    height: 1117px;
    background-color: rgba(118, 216, 180, 0.56);
    z-index: 0;
}

.email-detail{
    position: absolute;
    left: 900px;
    top: 0px;
    width: 827px;
    height: 1117px;
    background-color: #c3fbf7;
    z-index: 0;
}

/* box 1: side menu */
.row11{
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 350px;
    height: 143px;
    background-color: #d9d9d9;
    border-bottom: 2px solid #349b89;
    z-index: 1;
}

.logo-name{
    position: absolute;
    left: 110px;
    top: 27px;
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
}

.welcome{
    position:absolute;
    left: 42px;
    top: 83px;
    width: 253px;
    height: 39px;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #349b89;
}

.btn-group{
    position: absolute;
    width: 83px;
    height: 39px;
    left: 16px;
    top: 230px;
    background-color: transparent;
    border: none;
    color: black;
    padding: 20px 30px;
    font-size: 30px;
    cursor: pointer;
  }
  
.btn-group:hover{
    color: #349b89;
  }

.inbox{
    top: 230px;
}
.starred{
    top: 310px;
}
.sent{
    top: 390px;
}
.drafts{
    top:470px;
}
.important{
    top: 550px;
}
.spam{
    top: 630px;
}
.trash{
    top: 710px;
}

.btn-primary{
    box-sizing: border-box;
    position: absolute;
    color: #349b89;
    background-color: #d9d9d9;
    border: 1px solid #349b89;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'inter';
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

.btn-primary:hover{
    background-color: #349b89;
}

.compose{
    position: absolute;
    left: 42px;
    top: 892px;
    width: 265px;
    height: 118px;
    border-radius: 150px;
    font-size: 32px;
}

/* box 2: mid menu */
.row21{
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 530px;
    height: 143px;
    background-color: #d9d9d9;
    border-bottom: 2px solid #349b89;
    z-index: 1;
}

.inbox-icon{
    position: absolute;
    left: 240px;
    top: 16px;
    width: 70px;
    height: 70px;
    font-size: 50px;
    color: #349b89;
}

.inbox-menu{
    position: absolute;
    left: 215px;
    top: 83px;
    width: 100px;
    height: 39px;
    font-family: 'inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #349b89;
}

.row22{
    position: absolute;
    left: 34px;
    top: 178px;
    width: 453px;
    height: 39px;
    background-color: transparent;
    z-index: 1;
}

.form-control{
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    left: 34px;
    color: #6d6879;
}


form.btn-info::after{
    content: "";
    clear: both;
    display: table;
}

.email-info{
    position: absolute;
    left: 10px;
    width: 510px;
    height: 120px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    z-index: 1;
    cursor: pointer;
}

.email-info:hover{
    background-color: #d9d9d9;
}
.row23{
    top: 300px;
}
.row24{
    top: 450px;
}
.row25{
    top: 600px;
}
.row26{
    top: 750px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.row27{
    top: 900px;
}

.date{
    position: absolute;
    left: 418px;
    top: 25px;
    width: 67px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #6D6879;
}

.email-info-title{
    position: absolute;
    left: 30px;
    top: 15px;
    width: 207px;
    height: 34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}

.email-info-text{
    position: absolute;
    left: 30px;
    top: 70px;
    width: 345px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #6D6879;
}

.btn-check{
    position: absolute;
    top: 69px;
    left: 454px;
    font-size: 50px;
    color: #6d6879;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* box 3: email detail */
.row31{
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 827px;
    height: 143px;
    background-color: #d9d9d9;
    border-bottom: 2px solid #349b89;
    z-index: 1;
}

.from-to{
    position: absolute;
    left: 50px;
    top: 30px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: black;
}

.btn{
    position: absolute;
    font-size: 30px;
    color: #349b89;
    cursor: pointer;
    
}
.fa-trash-can{
    position: absolute;
    top: -50px;
    left: 640px;
}
.fa-ellipsis{
    position: absolute;
    top: -53px;
    left: 690px;
    
}

.row32{
    position: absolute;
    left: 50px;
    top: 185px;
    width: 727px;
    height: 810px;
    background-color: #ffffff;
    z-index: 1;
}

.content1{
    position: absolute;
    width: 256px;
    height: 33px;
    left: 236px;
    top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    color: #000000;
}

.content2{
    position: absolute;
    width: 624px;
    height: 90px;
    left: 52px;
    top: 105px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.line{
    position: absolute;
    width: 500px;
    height: 0px;
    left: 113px;
    top: 238.5px;
    border: 1px solid #000000;
}

.content3{
    position: absolute;
    width: 412px;
    height: 238px;
    left: 113px;
    top: 275px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
    color: #000000;
}

.content4{
    position: absolute;
    width: 344px;
    height: 213px;
    left: 113px;
    top: 525px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
    color: #000000;
}

.reply{
    position: absolute;
    width: 180px;
    height: 65px;
    left: 70px;
    top: 1020px;
    border-radius: 30px;
    font-size: 25px;
}

.forward{
    position: absolute;
    width: 180px;
    height: 65px;
    left: 577px;
    top: 1020px;
    border-radius: 30px;
    font-size: 25px;
}